*{
  margin: 0px;
  padding: 0px;
}

body {
	
	background-color: #6E6E6E;
  -webkit-box-sizing: column-4-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
}



.perfil_container {

	background-color: #EFEFEF;
	width: 700px;
	border-top: solid .5rem #24282b;
	padding: 3rem 0;
	box-shadow: 0 0 .5rem #24282b;
    margin: auto;
    margin-top: 10px;
	justify-content: left;
	
}
.perfil_top {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.perfil_title {
	color: black;
}
.perfil_title span {
	color: grey;
}
.perfil_img {
	width: 8rem;
	border-radius: 50%;
}




header{
  background:#24282b;
  color:#ffffff;
  padding-top:6px;
  min-height:55px;
  border-bottom:#1293d4 5px solid;

}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

header #marca{
  float:center;
}

header #marca h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:15px;
}

header .resaltado, header .actual a{
  color:#1293d4;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}



footer{
  padding:30px;
  border-top: 4px solid #1293d4;
  color:#ffffff;
  background-color:#24282b;
  text-align: center;
position: fixed;
bottom: 0px;
width: 100%;
left:0px
 
}
footer.foot {
  display: block;
  position: fixed;
  bottom: 0px;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0px;

}
.copy {
  font-size: 20px;
  background: #24282b;
}

/*----------------------------------------------------cargador----------------------------*/
 *,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#contenedor_cargas{
  background-color: rgba(250, 240, 245, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#cargas{
  border: 15px solid grey;
  border-top-color: lightblue;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; 
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}

 @keyframes girar{
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}





/*---------------------------- estilos registro.php -----------------------------------------*/
#hi{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.login {
  width: 400px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: white;
  font-size: 16px;
}
select {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: white;
  font-size: 16px;
}
label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}



input[type="submit"] {
  background: #1293d4;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #084B8A;
  animation-name: shake;
}

input[type="reset"] {
  background: #1293d4;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  border-top:  1px solid white;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="reset"]:hover {
  background: #084B8A;
  animation-name: shake;
}




::-webkit-input-placeholder {
  color: white;
  font-size: 12px;
}

.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}


/*---------------------------------------- estilos clientes.php ---------------------------------------*/



#main_container {
  margin: 100px;
  width: 600px;
}
#hello {
  color: white;
  font-size: 30px;
}
table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 20px;
}

thead {
  background-color: #1293d4;
  border-bottom: solid 5px darkblue;
  color: white;
}
 tr:nth-child(even){
  background-color: #ddd;
 }

 tr:hover{
  background-color: #084B8A;
  color: white;
 }
/*------------------------------------------ registro tabla -------------------------------------*/
#main_containers {
  margin-top: 10px;
  font-size: 20px;
  width: 600px;
}
table {
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 20px;
}

thead {
  background-color: #1293d4;
  border-bottom: solid 5px darkblue;
  color: white;
}
 tr:nth-child(even){
  background-color: #ddd;
 }

 tr:hover{
  background-color: #084B8A;
  color: white;
 }



 /*----------------------------------------------------- iconos CRUD ----------------------------------*/
 #hii {
  font-size: 20px;
  color: black;
 }
