form{
	width: 450px;
	background: rgba(0,0,0,0.4);
	padding: 50px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
	margin-bottom: 10px;
}
h3{
	color: #1293d4;
	text-align: center;
	margin: 0;
	font-size: 30px;
	margin-bottom: 5px;

}
h4{
	color: #fff;
	text-align: center;
	margin: 0;
}
input,textarea{
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border:none;

}
textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;

}
#boton{
	background: #24282b;
	color: #fff;
	padding: 10px;
}
#boton:hover{
	cursor: pointer;
	  background: #1293d4;
}
@media (max-width: 480px){
	form{
		width: 100%;
	}

}
.holu{
	margin-top: 100px

}